<div class="restaurant-card">
  <div class="rating">{{@restaurant.rating}}</div>
  <div class="name">{{@restaurant.name}}</div>
  {{!-- TBD: Burger availability --}}
  <div class="address-button">Adresse</div>
</div>