<div class="restaurant-card">
  <div class="rating">{{@restaurant.rating}}</div>
  <div class="name">{{@restaurant.name}}</div>
  {{!-- TBD: Burger availability --}}
  <button 
    role="button"
    class="address-button" type="button" {{on "click" (fn this.openAddressModal @restaurant)}}>
      Adresse
  </button>
</div>