{{page-title "EmberMirageQuickstart"}}

<h1>Welcome to the ember-mirage quickstart app</h1>

<div>If you can read this, the app is working. Below is an 'outlet' that will render the template of the route you are currently on.</div>

{{outlet}}

<div>This here comes after the outlet. Use CSS to make it into a footer later!</div>

<div class="modal">
  {{outlet "modal"}}
</div>