{{page-title "Compare"}}

<h2>Vergleiche deine Burgerläden</h2>

<div class="restaurant-list">
  {{#each this.model.restaurants as |restaurant|}}
    <RestaurantCard @restaurant={{restaurant}}></RestaurantCard>
  {{/each}}

  {{#if this.enableShowMoreButton}}
    <LinkTo @route="compare" @query={{hash amount=10}}>
      Weitere Burgerläden anzeigen 
    </LinkTo>
  {{/if}}
</div>
